:root{

}

body{
  background-color: lightgrey;
}
#main-header{
  font-family: 'Roboto', sans-serif, monospace;
  text-align: center;
  background-color: darkgrey;
  padding: 20px 20px 20px 20px;
}
#secondary-header{
  text-align: center;
  font-family: 'Roboto', sans-serif, monospace;
}
#main-content{
  font-family: 'Roboto', monospace;
}
